<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
 
  <!-- Activate annotation configured components -->
  <context:annotation-config/>
 
 <bean id="analyticsDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="${analyticsSQLDriverClassName}" />
	<property name="url" value="${analyticsSQLDBUrl}" />
  	<property name="username" value="${analyticsSQLDBUserName}" />
	<property name="password" value="${analyticsSQLDBPassword}" />
  </bean>
   
   <bean id="studentBigTableReportDAO" class="com.futor.analytics.db.impl.StudentBigTableReportDAOImpl"/>
   <bean id="studentModelDAO" class="com.futor.analytics.message.db.impl.StudentModelDAOImpl"/>
   <bean id="conceptBenchmark" class="com.futor.analytics.message.benchmark.db.impl.ConceptBenchmarkImpl"/>
   <bean id="studentProgressPerformanceReportDAO" class="com.futor.analytics.db.impl.StudentProgressPerformanceReportDAOImpl"/>
   <bean id="studentCoursePerformanceTrendsDAO" class="com.futor.analytics.db.impl.StudentCoursePerformanceTrendsDAOImpl"/>
   <bean id="studentCorrectIncorrectAttemptQuestionsDAO" class="com.futor.analytics.db.impl.StudentCorrectIncorrectAttemptQuestionsImpl"/>
   
  </beans> 